*{
    margin: 0px;
    padding: 0px;
}

.row{
    text-align: left;
}

._pricing{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    background: #fff;
}

.col-lg-4{
    width: 80vw;
}

.pricing-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-form{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.pricing-form-title{
    width: 50%;
    margin: 20px;
}

.pricing-form-title h4{
    font-size: medium;
}

.pricing-form-desc{
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: start;
    background: #fff;
    font-size: 12px;
}

.pricing-form-desc ul{
    list-style: none;
    padding: 0px;
    margin: 10px;
}

.pricing-form-desc ul li{
    border-bottom: 1px solid #f5f5f5;
    list-style: none;
    padding: 15px 0 15px 0;
    margin: 0;
    color: #222;
}

.pricing-note{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding: 10px;
}

.pricing-note-text{
    width: 40%;
    font-size: 8px;
    color: #222;
    text-align: right;
}